.popupWindow {
    .header {
        .headerText {
            flex-grow: 1;
            flex-shrink: 1;

            line-height: 39px;
            padding: 0 8px;
        }

        .closeButton {
            background: linear-gradient(0deg, var(--madison) 0%, var(--chathamsBlue) 100%);
            color: var(--white);
            border-left: 1px solid var(--darkBorderColor);

            &:hover {
                background: linear-gradient(0deg, var(--azure) 0%, var(--mariner) 100%)
            }

            &:active {
                background: var(--madison);
                box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            }

            width: 38px;
            line-height: 38px;
            text-align: center;

            flex-grow: 0;
            flex-shrink: 1;
        }

        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;

        background: var(--headerBackgroundColor);
        border-bottom: 1px solid var(--darkBorderColor);
        color: var(--linkWater);
    }

    .content {
        border-top-width: 0;
        padding: var(--spacingMedium);
        background-color: #ffffff;
    }

    border: 1px solid #365072;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.4);
}
